
#root {
  width: 100%;;
  height: 100%;
  padding: 2rem;
}

.header {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

.product-table{
  margin-top: 10px;
}

.add-btn {
  height: 3rem;
}